<footer class="textparrafo text-center text-lg-start">
  <!-- Grid container -->
  <div class="container p-4">
    <!--Grid row-->
    <div class="row">
      <div class="col-lg-3 col-md6 mb-4 mb-md-0 text-left"></div>
      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0 text-left">
        <img src="../../../assets/img/Group 123.png" alt="" />

        <p class="textparrafo">© 2020 Skania</p>

        <p></p>
        <p class="textparrafo">
          PBX: <span style="color: rgb(52, 207, 93)">658 4000</span> /
          <span span style="color: rgb(52, 207, 93)">484 1300</span>
        </p>
        <p class="textparrafo">
          Linea nacional:
          <span span style="color: rgb(52, 207, 93)">01 8000 517 526</span>
        </p>
        <p class="textparrafo">Linea Corporativa 658 4123</p>
        <p class="textparrafo">Av. 19 # 109 - 30</p>
        <p class="textparrafo">Bogota D.C., Colombia</p>
        <p class="textparrafo"><b>Oficinas a nivel nacinal</b></p>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0 text-left">
        <h5 class="text-uppercase"></h5>

        <ul class="list-unstyled mb-0">
          <li>
            <a>Terminos y condiciones</a>
          </li>
          <li>
            <a>Defensoria del consumidor financiero</a>
          </li>
          <li>
            <a>Proteccion de datos</a>
          </li>
          <li>
            <a>Definiciones Generales -Auto declaración FACT y CRS</a>
          </li>
          <li>
            <a>Recomendaciones de Seguridad</a>
          </li>
          <li>
            <a>Ley de Transparencia</a>
          </li>
          <li>
            <a>Mapa del sitio</a>
          </li>
        </ul>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0 text-left">
        <h5 class="text-uppercase mb-0"></h5>
        <br />
        <br /><br />
        <br />
        <br />
        <br />
        <br />
        <br />

        <img src="../../../assets/img/facebookl.png" alt="" />
        &nbsp;&nbsp;&nbsp;&nbsp;
        <img src="../../../assets/img/youtube.png" alt="" />
        &nbsp;&nbsp;&nbsp;&nbsp;
        <img src="../../../assets/img/twitter.png" alt="" />
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
  <!-- Grid container -->
</footer>
